numpy==1.26.4
pandas==2.2.3
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.4
Pillow==10.4.0
torch==2.3.0
torchvision==0.18.0
opencv-python==4.12.0.0
ultralytics==8.3.1
pytesseract==0.3.10
streamlit==1.38.0
XlsxWriter==3.2.9
scikit-learn==1.5.2          
scipy==1.14.1                
requests==2.32.3             
psutil==6.0.0                
rich==13.9.2                 
